@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      cursor: pointer;
    }
  }
}

@theme inline {
  --font-montserrat: "Montserrat", sans-serif;
  --foreground: #ffffff;
  --body-cols: 50px 2fr 1.4fr 20px 50px;
  --body-rows: 150px 450px 100px 90px;
}

@layer components {
  /* :root {
    --background: linear-gradient(
      294deg,
      rgba(200, 220, 229, 1) 0%,
      rgba(182, 204, 218, 1) 100%
    );
    --foreground: #ffffff;
  } */

  .bg-gradient {
    background: linear-gradient(
      294deg,
      rgba(200, 220, 229, 1) 0%,
      rgba(182, 204, 218, 1) 100%
    );
  }

  /* body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--montserrat);
    height: 100svh;
    display: grid;
    grid-template-columns:
      [full-start] minmax(0, 50px)
      [content-start] 2fr [left-end] 1.4fr [right-end] 20px [content-end] minmax(
        0,
        50px
      )
      [full-end];
    grid-template-rows: 150px 450px 80px 60px;

    > * {
      grid-column: content-start / content-end;
    }
  } */

  /* section {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row-start: 2;
    grid-row-end: 4;

  } */

  /* header {
    grid-column: content-start / content-end;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    grid-row: 1;

    ul {
      display: flex;
      justify-content: space-between;

      > * {
        padding-inline: 2.3rem;
      }
    }
  } */
  /* .quote-wrapper {
    grid-column: content-start / left-end;
    align-self: center;

    grid-row: 1 span 1;

    h1,
    h2 {
      font-size: 4rem;
      max-width: 16ch;
      line-height: 1.3;
    }

    h1 {
      font-weight: 800;
    }

    h2 {
      font-weight: 400;
    }
  } */
  /* 
  button {
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
    border: 3px solid var(--foreground);
    border-radius: 6.25rem;
    padding: 0.8rem 3rem;
    width: 200px;
    height: 50px;
    grid-row: 2 span 1;
    grid-column: content-start / left-end;
    align-self: start;
  } */

  /* .products-wrapper {
    grid-column: left-end / content-end;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row-start: 1;
  }

  .options {
    display: flex;
    justify-content: space-around;
    grid-column-start: left-end;
    grid-column-end: right-end;
    grid-row-start: 3;
    align-self: end;
  }

  .display {
    grid-column-start: left-end;
    grid-column-end: content-end;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    align-self: start;
  } */

  /* .colors {
    grid-column-start: right-end;
    grid-column-end: content-end;
    grid-row: 2;
    align-self: center;

    > * {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin-block: 1rem;
      justify-self: center;

      &:hover {
        cursor: pointer;
      }
    }

    .navy {
      background: #404354;
    }

    .ocean {
      background: #ddf7ff;
    }

    .mint {
      background: #58d7c4;
    }
   
  } */

  /* .colors > * {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-block: 1rem;
    justify-self: center;

    &:hover {
      cursor: pointer;
    }
  } */

  .active {
    outline: 2px solid white;
    width: 25px;
    height: 25px;
  }
}
