/* @import "tailwindcss"; */

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      cursor: pointer;
    }
  }
}

@layer components {
  :root {
    --background: linear-gradient(294deg, rgba(200, 220, 229, 1) 0%, rgba(182, 204, 218, 1) 100%);
    --foreground: #ffffff;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--montserrat);
    height: 100vh;
    display: grid;
    grid-template-columns: [full-start] minmax(0, 50px) [content-start] 2fr [left-end] 1.4fr [right-end] 20px [content-end] minmax(0, 50px) [full-end];
    grid-template-rows: 1fr 3fr 0.5fr 0.3fr;

    > * {
      grid-column: content-start / content-end;
    }
  }

  section {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    /* display: contents; */
  }

  header {
    grid-column: content-start / content-end;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    grid-row: 1 / 2;

    ul {
      display: flex;
      justify-content: space-between;

      > * {
        padding-inline: 2.3rem;
      }
    }
  }
  .quote-wrapper {
    grid-column: content-start / left-end;
    align-self: center;
    grid-row: 2 / 4;

    > * + * {
      margin-block: 2rem;
    }

    h1,
    h2 {
      font-size: 4rem;
      max-width: 16ch;
      line-height: 1.1;
    }

    h1 {
      font-weight: 800;
      margin-bottom: -0.5lh;
    }

    h2 {
      font-weight: 400;
    }
  }

  button {
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
    border: 3px solid var(--foreground);
    border-radius: 6.25rem;
    padding: 0.8rem 3rem;
    width: 200px;
    height: 50px;
    grid-row: 3 / 4;
    grid-column: content-start / left-end;
    align-self: end;
  }

  .products-wrapper {
    grid-column: left-end / content-end;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .options-wrapper {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-self: end;
    justify-self: center;
    grid-row: 4 / 5;
    grid-column-start: left-end;
    grid-column-end: right-end;
  }

  .display {
    display: flex;
    grid-column-start: left-end;
    grid-column-end: content-end;
    grid-row: 2;
    justify-content: center;
  }

  .colors {
    grid-column-start: right-end;
    grid-column-end: content-end;
    grid-row: 2;
    align-self: center;

    > * {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin-block: 1rem;
      justify-self: center;

      &:hover {
        cursor: pointer;
      }
    }

    .navy {
      background: #404354;
    }

    .ocean {
      background: #ddf7ff;
    }

    .mint {
      background: #58d7c4;
    }
    .active {
      outline: 2px solid white;
      width: 25px;
      height: 25px;
    }
  }
}
